<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<p th:text="${class.name}"></p>
<form action="#">
    <li th:each="student : ${listStudent}">
        <input type="checkbox" th:value="${student.id}"><span th:text="${student.name}"></span>
    </li>
    <input type="button" value="Submit" id="save_value">
</form>
</body>
<script>
    $(function () {
        $('#save_value').click(function () {
            var val = [];
            $(':checkbox:checked').each(function (i) {
                val[i] = $(this).val();
            });
            console.log(val)
            $.ajax({
                url: "http://localhost:8080/admin/class/store?id=" + [[${class.id}]] + "&studentId=" + val,
                type: "get",
                data: {},
                success: function (result) {

                }
            });
        });
    })
</script>
</html>