<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<!--<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>-->
<p th:text="${student.rollNumber}"></p>
<p th:text="${student.name}"></p>
<p th:text="${student.email}"></p>
<p th:text="${student.status}"></p>
</body>
</html>